<!DOCTYPE html>
<html lang="en">
<head>
<title>Competitions of FA</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  height: 295px; /* Should be removed. Only for demonstration */
}
</style>
</head>
<body>
<div class="row">
  <div class="column"  style="background:url('/img/fa/TheFaCup.png');" >
   
  </div>
  <div class="column" style="background:url('/img/fa/TheWomensFaCup.png');">
    
  </div>
</div>

<div class="row">
  <div class="column" style="background:url('/img/fa/NationalPremierLeague.png');">
  
  </div>
  <div class="column" style="background:url('/img/fa/UefaWomensEuroEngland.png');">
   
  </div>
</div>


</body>
</html>
