<!DOCTYPE html>
<html lang="en">
<head>
<title>Competitions of MLB</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  height: 295px; /* Should be removed. Only for demonstration */
}
</style>
</head>
<body>
<div class="row">
  <div class="column"  style="background:url('/img/mlb/AllStarGame.png');" >
   
  </div>
  <div class="column" style="background:url('/img/mlb/DivisionSeries.png');">
    
  </div>
</div>

<div class="row">
  
  <div class="column" style="background:url('/img/mlb/WorldSeries.png');">
   
  </div>
  
  <div class="column" style="background:url('/img/mlb/WildCardSeries.png');">
  
  </div>
</div>


</body>
</html>
